.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
}
body {
  margin: 0;
  background: #0a1930;
  font-family: 'Roboto', sans-serif;
}

.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}


.fb-bold {
  font-weight: bold;
}
.fb-normal {
  font-weight: normal;
}

.fb-500 {
  font-weight: 500;
}
.fb-400 {
  font-weight: 400;
}
